@-webkit-keyframes shakeAndLaunch {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    1% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }
    2% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    3% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }
    4% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    5% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }
    6% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    7% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }
    8% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    9% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    10% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
    11% {
        -webkit-transform: translate(2px, 1px) rotate(5deg);
    }
    12% {
        -webkit-transform: translate(-1px, -2px) rotate(9deg);
    }
    13% {
        -webkit-transform: translate(-3px, 0px) rotate(15deg);
    }
    14% {
        -webkit-transform: translate(0px, 2px) rotate(20deg);
    }
    15% {
        -webkit-transform: translate(1px, -1px) rotate(26deg);
    }
    16% {
        -webkit-transform: translate(-1px, 2px) rotate(29deg);
    }
    17% {
        -webkit-transform: translate(-3px, 1px) rotate(35deg);
    }
    18% {
        -webkit-transform: translate(2px, 1px) rotate(39deg);
    }
    19% {
        -webkit-transform: translate(-1px, -1px) rotate(45deg);
    }
    20% {
        -webkit-transform: translate(2px, 2px) rotate(45deg);
    }
    21% {
        -webkit-transform: translate(1px, -2px) rotate(44deg);
    }
    22% {
        -webkit-transform: translate(2px, 1px) rotate(45deg);
    }
    23% {
        -webkit-transform: translate(-1px, -2px) rotate(44deg);
    }
    24% {
        -webkit-transform: translate(-3px, 0px) rotate(46deg);
    }
    25% {
        -webkit-transform: translate(0px, 2px) rotate(45deg);
    }
    26% {
        -webkit-transform: translate(1px, -1px) rotate(46deg);
    }
    27% {
        -webkit-transform: translate(-1px, 2px) rotate(44deg);
    }
    28% {
        -webkit-transform: translate(-3px, 1px) rotate(45deg);
    }
    29% {
        -webkit-transform: translate(2px, 1px) rotate(44deg);
    }
    /**start launch*/
    30% {
        -webkit-transform: translate(-3px, 0px) rotate(46deg);
    }
    35% {
        -webkit-transform: translate(40px, -40px) rotate(45deg);
    }
    40% {
        -webkit-transform: translate(79px, -79px) rotate(46deg);
    }
    45% {
        -webkit-transform: translate(131px, -131px) rotate(44deg);
    }
    50% {
        -webkit-transform: translate(182px, -182px) rotate(45deg);
    }
    55% {
        -webkit-transform: translate(212px, -212px) rotate(44deg);
    }
    65% {
        -webkit-transform: translate(269px, -269px) rotate(46deg);
    }
    70% {
        -webkit-transform: translate(300px, -300px) rotate(45deg);
        opacity: 1;
    }
    71% {
        opacity: 0;
        -webkit-transform: translate(300px, -300px) rotate(45deg);
    }
    72% {
        opacity: 0;
        -webkit-transform: translate(-800px, 0px) rotate(90deg);
    }
    73% {
        opacity: 1;
    }
    75% {
        -webkit-transform: translate(-600px, 0px) rotate(89deg);
    }
    80% {
        -webkit-transform: translate(-300px, 0px) rotate(90deg);
    }
    85% {
        -webkit-transform: translate(-200px, 0px) rotate(90deg);
    }
    90% {
        -webkit-transform: translate(-100px, 0px) rotate(91deg);
    }
    95% {
        -webkit-transform: translate(-79px, 0px) rotate(91deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}
@-moz-keyframes shakeAndLaunch {
    0% {
        -moz-transform: translate(2px, 1px) rotate(0deg);
    }
    1% {
        -moz-transform: translate(-1px, -2px) rotate(-1deg);
    }
    2% {
        -moz-transform: translate(-3px, 0px) rotate(1deg);
    }
    3% {
        -moz-transform: translate(0px, 2px) rotate(0deg);
    }
    4% {
        -moz-transform: translate(1px, -1px) rotate(1deg);
    }
    5% {
        -moz-transform: translate(-1px, 2px) rotate(-1deg);
    }
    6% {
        -moz-transform: translate(-3px, 1px) rotate(0deg);
    }
    7% {
        -moz-transform: translate(2px, 1px) rotate(-1deg);
    }
    8% {
        -moz-transform: translate(-1px, -1px) rotate(1deg);
    }
    9% {
        -moz-transform: translate(2px, 2px) rotate(0deg);
    }
    10% {
        -moz-transform: translate(1px, -2px) rotate(-1deg);
    }
    11% {
        -moz-transform: translate(2px, 1px) rotate(5deg);
    }
    12% {
        -moz-transform: translate(-1px, -2px) rotate(9deg);
    }
    13% {
        -moz-transform: translate(-3px, 0px) rotate(15deg);
    }
    14% {
        -moz-transform: translate(0px, 2px) rotate(20deg);
    }
    15% {
        -moz-transform: translate(1px, -1px) rotate(26deg);
    }
    16% {
        -moz-transform: translate(-1px, 2px) rotate(29deg);
    }
    17% {
        -moz-transform: translate(-3px, 1px) rotate(35deg);
    }
    18% {
        -moz-transform: translate(2px, 1px) rotate(39deg);
    }
    19% {
        -moz-transform: translate(-1px, -1px) rotate(45deg);
    }
    20% {
        -moz-transform: translate(2px, 2px) rotate(45deg);
    }
    21% {
        -moz-transform: translate(1px, -2px) rotate(44deg);
    }
    22% {
        -moz-transform: translate(2px, 1px) rotate(45deg);
    }
    23% {
        -moz-transform: translate(-1px, -2px) rotate(44deg);
    }
    24% {
        -moz-transform: translate(-3px, 0px) rotate(46deg);
    }
    25% {
        -moz-transform: translate(0px, 2px) rotate(45deg);
    }
    26% {
        -moz-transform: translate(1px, -1px) rotate(46deg);
    }
    27% {
        -moz-transform: translate(-1px, 2px) rotate(44deg);
    }
    28% {
        -moz-transform: translate(-3px, 1px) rotate(45deg);
    }
    29% {
        -moz-transform: translate(2px, 1px) rotate(44deg);
    }
    /**start launch*/
    30% {
        -moz-transform: translate(-3px, 0px) rotate(46deg);
    }
    35% {
        -moz-transform: translate(40px, -40px) rotate(45deg);
    }
    40% {
        -moz-transform: translate(79px, -79px) rotate(46deg);
    }
    45% {
        -moz-transform: translate(131px, -131px) rotate(44deg);
    }
    50% {
        -moz-transform: translate(182px, -182px) rotate(45deg);
    }
    55% {
        -moz-transform: translate(212px, -212px) rotate(44deg);
    }
    65% {
        -moz-transform: translate(269px, -269px) rotate(46deg);
    }
    70% {
        -moz-transform: translate(300px, -300px) rotate(45deg);
        opacity: 1;
    }
    71% {
        opacity: 0;
        -moz-transform: translate(300px, -300px) rotate(45deg);
    }
    72% {
        opacity: 0;
        -moz-transform: translate(-800px, 0px) rotate(90deg);
    }
    73% {
        opacity: 1;
    }
    75% {
        -moz-transform: translate(-600px, 0px) rotate(89deg);
    }
    80% {
        -moz-transform: translate(-300px, 0px) rotate(90deg);
    }
    85% {
        -moz-transform: translate(-200px, 0px) rotate(90deg);
    }
    90% {
        -moz-transform: translate(-100px, 0px) rotate(91deg);
    }
    95% {
        -moz-transform: translate(-79px, 0px) rotate(91deg);
    }
    100% {
        -moz-transform: translate(0px, 0px) rotate(0deg);
    }
}
@-o-keyframes shakeAndLaunch {
    0% {
        -o-transform: translate(2px, 1px) rotate(0deg);
    }
    1% {
        -o-transform: translate(-1px, -2px) rotate(-1deg);
    }
    2% {
        -o-transform: translate(-3px, 0px) rotate(1deg);
    }
    3% {
        -o-transform: translate(0px, 2px) rotate(0deg);
    }
    4% {
        -o-transform: translate(1px, -1px) rotate(1deg);
    }
    5% {
        -o-transform: translate(-1px, 2px) rotate(-1deg);
    }
    6% {
        -o-transform: translate(-3px, 1px) rotate(0deg);
    }
    7% {
        -o-transform: translate(2px, 1px) rotate(-1deg);
    }
    8% {
        -o-transform: translate(-1px, -1px) rotate(1deg);
    }
    9% {
        -o-transform: translate(2px, 2px) rotate(0deg);
    }
    10% {
        -o-transform: translate(1px, -2px) rotate(-1deg);
    }
    11% {
        -o-transform: translate(2px, 1px) rotate(5deg);
    }
    12% {
        -o-transform: translate(-1px, -2px) rotate(9deg);
    }
    13% {
        -o-transform: translate(-3px, 0px) rotate(15deg);
    }
    14% {
        -o-transform: translate(0px, 2px) rotate(20deg);
    }
    15% {
        -o-transform: translate(1px, -1px) rotate(26deg);
    }
    16% {
        -o-transform: translate(-1px, 2px) rotate(29deg);
    }
    17% {
        -o-transform: translate(-3px, 1px) rotate(35deg);
    }
    18% {
        -o-transform: translate(2px, 1px) rotate(39deg);
    }
    19% {
        -o-transform: translate(-1px, -1px) rotate(45deg);
    }
    20% {
        -o-transform: translate(2px, 2px) rotate(45deg);
    }
    21% {
        -o-transform: translate(1px, -2px) rotate(44deg);
    }
    22% {
        -o-transform: translate(2px, 1px) rotate(45deg);
    }
    23% {
        -o-transform: translate(-1px, -2px) rotate(44deg);
    }
    24% {
        -o-transform: translate(-3px, 0px) rotate(46deg);
    }
    25% {
        -o-transform: translate(0px, 2px) rotate(45deg);
    }
    26% {
        -o-transform: translate(1px, -1px) rotate(46deg);
    }
    27% {
        -o-transform: translate(-1px, 2px) rotate(44deg);
    }
    28% {
        -o-transform: translate(-3px, 1px) rotate(45deg);
    }
    29% {
        -o-transform: translate(2px, 1px) rotate(44deg);
    }
    /**start launch*/
    30% {
        -o-transform: translate(-3px, 0px) rotate(46deg);
    }
    35% {
        -o-transform: translate(40px, -40px) rotate(45deg);
    }
    40% {
        -o-transform: translate(79px, -79px) rotate(46deg);
    }
    45% {
        -o-transform: translate(131px, -131px) rotate(44deg);
    }
    50% {
        -o-transform: translate(182px, -182px) rotate(45deg);
    }
    55% {
        -o-transform: translate(212px, -212px) rotate(44deg);
    }
    65% {
        -o-transform: translate(269px, -269px) rotate(46deg);
    }
    70% {
        -o-transform: translate(300px, -300px) rotate(45deg);
        opacity: 1;
    }
    71% {
        opacity: 0;
        -o-transform: translate(300px, -300px) rotate(45deg);
    }
    72% {
        opacity: 0;
        -o-transform: translate(-800px, 0px) rotate(90deg);
    }
    73% {
        opacity: 1;
    }
    75% {
        -o-transform: translate(-600px, 0px) rotate(89deg);
    }
    80% {
        -o-transform: translate(-300px, 0px) rotate(90deg);
    }
    85% {
        -o-transform: translate(-200px, 0px) rotate(90deg);
    }
    90% {
        -o-transform: translate(-100px, 0px) rotate(91deg);
    }
    95% {
        -o-transform: translate(-79px, 0px) rotate(91deg);
    }
    100% {
        -o-transform: translate(0px, 0px) rotate(0deg);
    }
}
@keyframes shakeAndLaunch {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    1% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    2% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    3% {
        transform: translate(0px, 2px) rotate(0deg);
    }
    4% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    5% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    6% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    7% {
        transform: translate(2px, 1px) rotate(-1deg);
    }
    8% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    9% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    10% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
    11% {
        transform: translate(2px, 1px) rotate(5deg);
    }
    12% {
        transform: translate(-1px, -2px) rotate(9deg);
    }
    13% {
        transform: translate(-3px, 0px) rotate(15deg);
    }
    14% {
        transform: translate(0px, 2px) rotate(20deg);
    }
    15% {
        transform: translate(1px, -1px) rotate(26deg);
    }
    16% {
        transform: translate(-1px, 2px) rotate(29deg);
    }
    17% {
        transform: translate(-3px, 1px) rotate(35deg);
    }
    18% {
        transform: translate(2px, 1px) rotate(39deg);
    }
    19% {
        transform: translate(-1px, -1px) rotate(45deg);
    }
    20% {
        transform: translate(2px, 2px) rotate(45deg);
    }
    21% {
        transform: translate(1px, -2px) rotate(44deg);
    }
    22% {
        transform: translate(2px, 1px) rotate(45deg);
    }
    23% {
        transform: translate(-1px, -2px) rotate(44deg);
    }
    24% {
        transform: translate(-3px, 0px) rotate(46deg);
    }
    25% {
        transform: translate(0px, 2px) rotate(45deg);
    }
    26% {
        transform: translate(1px, -1px) rotate(46deg);
    }
    27% {
        transform: translate(-1px, 2px) rotate(44deg);
    }
    28% {
        transform: translate(-3px, 1px) rotate(45deg);
    }
    29% {
        transform: translate(2px, 1px) rotate(44deg);
    }
    /**start launch*/
    30% {
        transform: translate(-3px, 0px) rotate(46deg);
    }
    35% {
        transform: translate(40px, -40px) rotate(45deg);
    }
    40% {
        transform: translate(79px, -79px) rotate(46deg);
    }
    45% {
        transform: translate(131px, -131px) rotate(44deg);
    }
    50% {
        transform: translate(182px, -182px) rotate(45deg);
    }
    55% {
        transform: translate(212px, -212px) rotate(44deg);
    }
    65% {
        transform: translate(269px, -269px) rotate(46deg);
    }
    70% {
        transform: translate(300px, -300px) rotate(45deg);
        opacity: 1;
    }
    71% {
        opacity: 0;
        transform: translate(300px, -300px) rotate(45deg);
    }
    72% {
        opacity: 0;
        transform: translate(-800px, 0px) rotate(90deg);
    }
    73% {
        opacity: 1;
    }
    75% {
        transform: translate(-600px, 0px) rotate(89deg);
    }
    80% {
        transform: translate(-300px, 0px) rotate(90deg);
    }
    85% {
        transform: translate(-200px, 0px) rotate(90deg);
    }
    90% {
        transform: translate(-100px, 0px) rotate(91deg);
    }
    95% {
        transform: translate(-79px, 0px) rotate(91deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}
@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}
@-moz-keyframes shake {
    0% {
        -moz-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -moz-transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        -moz-transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        -moz-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -moz-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -moz-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -moz-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -moz-transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        -moz-transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -moz-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -moz-transform: translate(1px, -2px) rotate(-1deg);
    }
}
@-o-keyframes shake {
    0% {
        -o-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -o-transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        -o-transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        -o-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -o-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -o-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -o-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -o-transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        -o-transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -o-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -o-transform: translate(1px, -2px) rotate(-1deg);
    }
}
@keyframes shake {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

html {
    margin: 0;
    padding: 0;
    background: url(../img/bg2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
}

.rocketed{
    -webkit-animation-name: shakeAndLaunch;
    -webkit-animation-timing-function: cubic-bezier(0.07, 0.83, 0.9, 0.02);
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-name: shakeAndLaunch;
    -moz-animation-timing-function: cubic-bezier(0.07, 0.83, 0.9, 0.02);
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 1;
    -o-animation-name: shakeAndLaunch;
    -o-animation-timing-function: cubic-bezier(0.07, 0.83, 0.9, 0.02);
    -o-animation-duration: 2s;
    -o-animation-iteration-count: 1;
    animation-name: shakeAndLaunch;
    animation-timing-function: cubic-bezier(0.07, 0.83, 0.9, 0.02);
    animation-duration: 2s;
    animation-iteration-count: 1;
}
#card {
    margin: 130px auto 0;
    text-align: center;
    color: white;
}
#card img {
    z-index: 2000
}

#card .avatar img:hover {
    animation-name: shake;
    animation-duration: .4s;
    animation-iteration-count: infinite;
}
#card .name {
    -moz-animation-duration: 0.3s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-delay: 0.6s;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 102px;
    text-shadow: 0px 0px 10px #FFFFFF;
    margin-top: -25px
}
#summary {
    font-family: 'Inconsolata';
    font-size: 38px;
    color: #FFFFFF;
    line-height: 37px;
}
.social {
    margin-top: 40px;
}
.social span {
    margin: 0 4px;
}
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}